extends layout

block content
  meta(http-equiv='refresh', content='2')
  div.container
    h1.text-center.main-title L3E Cycle Time Data
    div.row
      div.col-xs-4.div-box
        h2.header-title.text-center Cycle Info
        div.col-xs-12.box-top.datatext
          div.col-xs-12
            h4 Updated: #{data.date}
          div.col-xs-12
            p
          div.col-xs-12
            span Current Time: 
            span(class=''+ cc) #{data.CURRENT}s
          div.col-xs-12
            span Previous Time: 
            span(class=''+ lc) #{data.LAST}s
          div.col-xs-12
            span Best Time: 
            span(class=''+ bc) #{data.BEST}s
          div.col-xs-12
            span Average Time: 
            span(class=''+ ac) #{data.AVERAGE}s
          div.col-xs-12
            p
          div.col-xs-12
            h4
              a(href='/history') View History
          div.col-xs-12
            h4 If the program has not been updated recently, press f11 at the cell and close the browser window and both cmd windows. Double click runSCADA.bat to restart the program.
      div.col-xs-2.div-box.div-middle
        h2.header-title.text-center History
        div.col-xs-12.box-top.datatext
          each item in data.HISTORY
            p.text-center #{item}s
      div.col-xs-6.div-box
        h2.header-title.text-center Build Info
        div.col-xs-12.box-top.datatext
          div.col-xs-12
            span Parts This Shift: 
            span.coloured-data #{data.PARTSCS} / #{pps}
          div.col-xs-12
            span Parts This Hour: 
            span.coloured-data #{data.PARTSCH}
          