extends layout

block content
  meta(http-equiv="refresh" content="10")
  link(rel='stylesheet', href='/d3/c3.min.css')
  script.
    var xc = !{JSON.stringify(xc)};
    var positive = !{JSON.stringify(positive)};
    var negative = !{JSON.stringify(negative)};
  script(src='/d3/d3.v3.js')
  script(src='/d3/c3.min.js')
  div.container
    h1.text-center.main-title Cell Cycle Time Data
    div.row
      div.col-xs-12
        p(style="padding:1em;margin:0em;font-size:200%;").text-center Cycle Time Variance 
      div.col-xs-12#chart
        script('src=/d3/chart.js')
      div.col-xs-6.largefont
          div.col-xs-12
            span Previous Time: 
            span(class=''+ lc) #{data["Last CT"]}s
          div.col-xs-12
            span Best Time: 
            span(class=''+ bc) #{data["Best CT"]}s
          div.col-xs-12
            span Average Time: 
            span(class=''+ ac) #{data["Average CT"]}s
          div.col-xs-12
            span Last Cycle Variance: 
            span(class=''+ ctv) #{data["CT Variance"]}s
      div.col-xs-6.largefont
          div.col-xs-12
            span Parts This Shift: 
            span.coloured-data #{data["Parts Out"]} / #{data["Target Parts"]}
          div.col-xs-12
            p(style="font-size:65%;") Updated: #{data.date}